// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg

$black: #222222;
$solid-black: #000000;
$white: #eeeeee;
$grey: #cccccc;
$dark-grey: #999999;
