// Hérna lifa events
@import './config';

.events {
  margin-bottom: $margin-bottom;
}

.events .col {
  margin-bottom: $margin-bottom;
}

.event {
  position: relative;
  width: $width;
  height: $height;
  min-height: 250px;
  background-color: $grey;
  word-break: break-word;
}

.event:last-child {
  margin-right: 0;
}

.event h3 {
  margin-bottom: $margin-bottom*0.5;
}

.event p {
  margin-bottom: $margin-bottom*0.5;
  font-style: italic;
}

.event ul {
  list-style: none;
  font-style: italic;
}

.event .card {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: $anim-trs;
}

.event:hover .card {
  transform: rotateY(180deg);
}

.event .face {
  position: absolute;
  width: $width;
  height: $height;
  backface-visibility: hidden;
  padding: 0.5rem;
}

.event .face.back {
  transform: rotateY(180deg);
}

.event .front {
  display: flex;
}

.event .front h3 {
  margin: auto;
  font-size: 2em;
  text-align: center;
}

.event .back {
  height: $height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
