// Sækja config
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
@import './config';


@mixin reset{
  $margin: 0;
  $padding: 0;
  box-sizing: border-box;
}

* {
  @include reset;
}


@mixin body-font{
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: $black;
}

body {
 @include body-font;
}

a {
  color: $black;
}

button {
  background-color: $black;
  color: $white;
  border: 1px solid $solid-black;
  border-radius: 5px;
  padding: 0.5rem;
  word-break: initial;

  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out ;
}

button:hover {
  background-color: $white;
  color: $black;
}

button:active {
  background-color: $black;
  color: $white;
  border: 1px solid $solid-black;
}


@mixin header-font {
  font-family: 'Montaga', Georgia, serif;
}

h1, h2, h3, h4 {
 @include header-font;
}
