// haus með stílar.
@import './config';

header {
  background-attachment: fixed;
  background-image: url'img/background.jpg';
  background-size: cover;
  display: flex;
  height: 100vh;
  margin-bottom: $margin-bottom;
  width: $width;

  .content {
    color: $white;
    margin: auto;
    text-align: center;
    width: $width;
  }

  h1 {
    font-size: 6vmax;
  }

  h2 {
    font-size: 3vmax;
  }
}
